<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @positions_cable.name %>
</p>

<%= link_to 'Edit', edit_positions_cable_path(@positions_cable) %> |
<%= link_to 'Back', positions_cables_path %>
