<h1>Editing Construction</h1>

<%= render 'form', construction: @construction %>

<%= link_to 'Show', @construction, class:"mb-1 btn btn-primary" %> |
<%= link_to 'Back', constructions_path, class:"mb-1 btn btn-primary" %>
