<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activities_type.name %>
</p>

<%= link_to 'Edit', edit_activities_type_path(@activities_type) %> |
<%= link_to 'Back', activities_types_path %>
