<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cables_reviews_type.name %>
</p>

<%= link_to 'Edit', edit_cables_reviews_type_path(@cables_reviews_type) %> |
<%= link_to 'Back', cables_reviews_types_path %>
