// Place all the styles related to the spreadsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.checkbox-spreadsheet {
  position: relative;

  label {
    display: block;
  }
  input[type="checkbox"] {
    margin-top: 1rem;
    width: 20px;
    height: 20px;
  }
}

fieldset {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
