<div class="ml-auto">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
        <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu"><a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a><a class="dropdown-item" href="#" data-set-lang="es">Português</a>
        </div>
    </div>
</div>